@model List<Blog.Models.Article>

@{
    ViewBag.Title = "All Articles";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @foreach (var article in Model)
            {
                <div class="col-md-4">
                    <h2>@article.Title</h2>
                    <h3>@article.Content</h3>
                    @if (article.ImagePath != null)
                    {
                        <div class="crop">
                            <img src="@article.ImagePath" class="img-responsive" />
                        </div>
                    }
                    <br>
                    <footer class="pull-right">
                        <small class="author">
                            - @article.Author.FullName
                        </small>
                    </footer>
                    <p><a class="btn btn-default" href="/Article/Details/@article.Id">Read more</a></p>
                </div>
            }
        </div>
    </div>
</div>
<hr />
